<div class="container">
	<div class="row">
		<div class="col">
			<h1>{% if event.name %}{{ event.name }}{% else %}No event title{% endif %}</h1>
		</div>
		{% if event.is_organizing(request.user) or request.user.is_staff %}
		<div class="d-inline-flex align-items-center justify-content-end">
			{% include 'event-details/manage-menu.html' %}
		</div>
		{% endif %}
	</div>
	<h5>
		{% if event.is_closed %}<span class="badge badge-danger p-1 mr-2">Closed!</span>
		{% elif event.is_locked %}
		<span class="badge badge-warning p-1 mr-2">Locked!</span>
		{% elif event.is_open %}
		<span class="badge badge-success p-1 mr-2">Open!</span>
		{% endif %}
		<i class="fa fa-calendar" aria-hidden="true"></i> {{ event.date.date().strftime("%d/%m/%Y") }}
		<span class="text-muted">
			{% if event.days_until == 0 %} (today)
			{% elif event.days_until == 1 %} (tomorrow)
			{% elif event.days_until > 1 %} (in {{ event.days_until }} days)
			{% elif event.days_until == -1 %} (yesterday)
			{% else %} ({{ -event.days_until }} days ago) {% endif %}
		</span>
		<span class="mx-2"><i class="fa fa-clock-o" aria-hidden="true"></i> {{ event.time_of_day }}</span>
	</h5>
	<h5 class="text-muted">
		Organizers:
		{% if event.organizers|length > 0 %}
		{% for o in event.organizers %}{{o}}
		{% set linkify_share = (event.is_organizing(request.user) or request.user.is_staff) and not event.is_closed %}
		({% if linkify_share %}
		<span data-toggle="tooltip" data-placement="bottom"
			title="Set the expenses for this organizer">
			<a href="#" data-toggle="modal" data-target="#expenseModal"
			   data-pk="{{o.pk}}" data-name="{{o}}" data-expenses="{{o.share}}">
		{% endif %}
				{{o.share}} kr.
		{% if linkify_share %}
			{% if admin_enabled %}
				<span class="text-danger small" data-toggle="tooltip" title="This is enabled because you have admin rights">
					(<i class="fas fa-pastafarianism"></i>)
				</span>
			{% endif %}
			</a>
		</span>
		{% endif %})
		{% endfor %}
		{% else %} no organizers :( {% endif %}
	</h5>
	<p>
	The organizers have paid {{ event.total_expenses }} kr.
	The share for each participant is {{ event.per_share_amount }} kr.
	</p>
	<hr />
	<div class="event-description">
		{{ markdown(event.description, safe_mode="escape")|safe }}
	</div>
</div>
