<div class="modal fade" id="expenseModal" tabindex="-1" role="dialog">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="expenseModalLabel">Set expenses for</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form method="post" action="/events/{{ event.pk }}/">
					{{ csrf_input }}
					{{ expenseform.user }}
					<div class="form-group">
						<label>Expenses</label>
						<input type="text" class="form-control"
						 name="{{ expenseform.expenses.html_name }}"
						 id="{{ expenseform.expenses.id_for_label }}">
					</div>
			</div>
			<div class="modal-footer">
				<button value="SetExpense" name="submit" type="submit" class="btn btn-block btn-primary">
					Save changes
				</button>
				</form>
			</div>
		</div>
	</div>
</div>
