<div class="modal fade" id="guestModal" tabindex="-1" role="dialog">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="guestModalLabel">Set no. of guests for</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form method="post" action="/events/{{ event.pk }}/">
					{{ csrf_input }}
					{{ guestform.user }}
					<div class="form-group">
						<label>How many guests will you bring?</label>
						<input type="number" class="form-control" min="0"
						 name="{{ guestform.num_guests.html_name }}"
						 id="{{ guestform.num_guests.id_for_label }}">
					</div>
			</div>
			<div class="modal-footer">
				<button value="SetGuests" name="submit" type="submit" class="btn btn-block btn-primary">
					Save changes
				</button>
				</form>
			</div>
		</div>
	</div>
</div>
