<div class="dropdown show">
	<a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		<i class="fa fa-cog" aria-hidden="true"></i>
		Manage
		{% if admin_enabled %}
			<span class="text-danger small" data-toggle="tooltip" title="This is enabled because you have admin rights">
				(<i class="fas fa-pastafarianism"></i>)
			</span>
		{% endif %}
	</a>
	<div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
		{% if event.is_locked %}
		<form method="post" action="/events/{{ event.pk }}/">
			{{ csrf_input }}
			<button value="Open" name="submit" type="submit" class="dropdown-item">
				<i class="fa fa-unlock" aria-hidden="true"></i> Unlock
			</button>
		</form>
		<form method="post" action="/events/{{ event.pk }}/">
			{{ csrf_input }}
			<button value="Close" name="submit" type="submit" class="dropdown-item">
				<i class="fa fa-handshake-o" aria-hidden="true"></i> Close
			</button>
		</form>
		{% else %}
		{% if not event.is_closed %}
		<form method="post" action="/events/{{ event.pk }}/">
			{{ csrf_input }}
			<button value="Lock" name="submit" type="submit" class="dropdown-item">
				<i class="fa fa-lock" aria-hidden="true"></i> Lock
			</button>
		</form>
		{% elif event.is_closed %}
		<form method="post" action="/events/{{ event.pk }}/">
			{{ csrf_input }}
			<button value="Open" name="submit" type="submit" class="dropdown-item">
				<i class="fa fa-unlock" aria-hidden="true"></i> Open
			</button>
		</form>
		{% endif %}
		{% endif %}
		{% if not event.is_closed %}
		<a class="dropdown-item" href="/events/{{ event.pk }}/edit/"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Modify details</a>
		<div class="dropdown-divider"></div>
		<form method="post" action="/events/{{ event.pk }}/">
			{{ csrf_input }}
			<button value="Remove" name="submit" type="submit" class="dropdown-item text-danger">
				<i class="fa fa-trash" aria-hidden="true"></i> Delete event
			</button>
		</form>
		{% endif %}
	</div>
</div>
