<div class="tab-pane show active" id="participants" role="tabpanel">
	{% if event.participants|length > 0 %}
	{% if admin_enabled %}
		<div class="d-flex m-1 justify-content-start">
		<span class="text-danger small" data-toggle="tooltip" title="This is enabled because you have admin rights">
			(<i class="fas fa-pastafarianism"></i>) You can set others' guests as an admin
		</span>
		</div>
	{% endif %}
	{% for p in event.participants %}
	<div class="d-flex m-2 justify-content-start">
		<div>
		{% if (event.is_organizing(request.user) or request.user.is_staff) and not event.is_closed %}
		<span data-toggle="tooltip" data-placement="bottom"
			title="Set the number of guests for this participant">
		<a href="#" data-toggle="modal" data-target="#guestModal"
		   data-pk="{{p.pk}}" data-name="{{p}}" data-guests="{{p.share-1}}">
		{% endif %}
			{{ p }}
		{% if (event.is_organizing(request.user) or request.user.is_staff) and not event.is_closed %}
		</a></span>
		{% endif %}
		{% if event.is_organizing(p.user) %}
		<span class="text-muted">(organizer)</span>
		{% endif %}
		</div>
		<div class="ml-auto">
			{% if p.share-1 > 0 %}+{{ "%d"|format((p.share-1)|int) }}{% endif %}
		</div>
	</div>
	{% endfor %}
	{% else %}
	<h5 class="text-center my-2">No participants :(</h5>
	{% endif %}
</div>
<div class="collapse" id="modify-participants">
    <form id="modifyParticipantsForm" method="post" action="/events/{{ event.pk }}/">
        {{ csrf_input }}
        <input type="hidden" name="add_pks" value="" id="add_pks">
        <input type="hidden" name="remove_pks" value="" id="remove_pks">
        <ul id="userlist" class="list-group">
            {% for user in userlist %}
            <li class="list-group-item p-2
                {% if event.is_participating(user) %} list-group-item-info{% endif %}">
                {{ user.name }}
                <input type="hidden" id="upk" value="{{ user.pk }}">
            </li>
            {# TODO put little upgrade button for upgrading to organizer ? #}
            {% endfor %}
        </ul>
        <br/>
        <button value="SetParticipants" name="submit" type="submit" class="btn btn-primary btn-block">Save changes</button>
    </form>
</div>

<script>
    $(document).ready(function() {
        // to contain pks of users for addition or removal
        var users_to_remove = [];
        var users_to_add = [];

        $('#modifyParticipantsForm').on('submit', function () {
            // set the hidden fields to the arrays containing staged users
            $('#add_pks').val(users_to_add);
            $('#remove_pks').val(users_to_remove);
        });

        $('#userlist > li').each(function (li) {
            $(this).click(function () {
                if ($(this).hasClass('list-group-item-info')) {
                    // user is participating, stage for removal
                    users_to_remove.push(parseInt($(this).find('#upk').attr('value')));
                    $(this).removeClass('list-group-item-info');
                    $(this).addClass('list-group-item-danger');
                    console.log(users_to_remove);
                } else if ($(this).hasClass('list-group-item-danger')) {
                    // user is staged for removal, revert to participating
                    users_to_remove.splice(users_to_remove.indexOf(parseInt($(this).find('#upk').attr('value'))));
                    $(this).removeClass('list-group-item-danger');
                    $(this).addClass('list-group-item-info');
                    console.log(users_to_remove);
                } else if ($(this).hasClass('list-group-item-success')) {
                    // user is staged for addition, remove from addition array
                    users_to_add.splice(users_to_add.indexOf(parseInt($(this).find('#upk').attr('value'))));
                    $(this).removeClass('list-group-item-success');
                    console.log(users_to_add);
                } else {
                    users_to_add.push(parseInt($(this).find('#upk').attr('value')));
                    $(this).addClass('list-group-item-success');
                    console.log(users_to_add);
                }
            });
        });
    });
</script>
