<div class="btn-group mr-auto">
	{% set u_isin = event.is_participating(request.user) %}
	<div class="dropdown">
  <button class="btn btn-{% if u_isin %}success{% else %}danger{% endif %} {% if event.is_open %}dropdown-toggle{% endif %}"
		type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    {% if u_isin %} <i class="fas fa-check"></i> Participating
		{% else %} <i class="fas fa-minus-circle"></i> Not participating
		{% endif %}
  </button>
	{% if event.is_open %}
  <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
		{% if event.is_participating(request.user) %}
		<form method="post" action="/events/{{ event.pk }}/">
			{{ csrf_input }}
			<button value="SignSelfOut" name="submit" type="submit" class="dropdown-item">
				Sign out
			</button>
		</form>
		<button class="dropdown-item"
		 data-toggle="modal" data-target="#guestModal"
		 data-pk="{{self_participant.pk}}" data-name="yourself"
		 data-guests="{{self_participant.share-1}}">
			Bring friends!
		</button>
		{% else %}
		<form method="post" action="/events/{{ event.pk }}/">
			{{ csrf_input }}
			<button value="SignSelfUp" name="submit" type="submit" class="dropdown-item">
				Sign up
			</button>
		</form>
		{% endif %}
  </div>
	{% endif %}
</div>
