{% extends "base.html" %}

{% block title %}{% endblock %}

{% block content %}

{% if next %}
{% if user.is_authenticated %}
<p>Your account doesn't have access to this page. To proceed,
please login with an account that has access.</p>
{% else %}
<p>You must be logged in to view this page.</p>
{% endif %}
{% endif %}

<form method="post" action="{{ url('users:login') }}">
	{{ csrf_input }}

	<div class="card mx-auto {% if form.errors %}card-outline-danger{% endif %}" style="width: 30rem;">
		<h4 class="card-header">
			Login
		</h4>
		<div class="card-block p-3">
			{% if form.errors %}
			<div class="alert alert-danger" role="alert">
				Your username and password didn't match. Please try again.
			</div>
			{% endif %}
			<div class="form-group">
				<div class="input-group mb-2 mr-sm-2 mb-sm-0">
					<div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-envelope-o"></i></div>
					<input type="email" class="form-control{% if form.username.errors %} is-invalid{% endif %}" id="{{form.username.id_for_label}}" name="{{form.username.html_name}}" placeholder="Email" required>
				</div>
			</div>
			<div class="form-group">
				<div class="input-group mb-2 mr-sm-2 mb-sm-0">
					<div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-key"></i></div>
					<input type="password" class="form-control{% if form.password.errors %} is-invalid{% endif %}" id="{{form.password.id_for_label}}" name="{{form.password.html_name}}" placeholder="Password" required>
				</div>
			</div>
			<button type="submit" class="btn btn-success"><i class="fa fa-sign-in"></i> Login</button>
			<input type="hidden" name="next" value="{{ next }}" />
			{# Assumes you setup the password_reset view in your URLconf #}
			<a class="btn btn-link" href="{{ url('users:password_reset') }}">Lost password?</a>
		</div>
	</div>
</form>

{% endblock %}
