<div class="card mx-auto" style="width: 40rem;">
    <div class="card-body">
        <h4 class="card-subtitle" id="dinner-title">
            Dinner club
            {% if dinner_schedule_active %} <span class="text-muted" id="dinner-schedule-extension">- active</span>
            {% else %}  <span class="text-muted" id="dinner-schedule-extension">- inactive</span>
            {% endif %}
        </h4>
        <br/>
        <div class="text-center" id="toggle-buttons-group">
            <div class="btn-group btn-group-toggle " data-toggle="buttons">
                <label class="btn btn-secondary toggle-yes {% if dinner_schedule_active %} active {% endif %}"
                       id="toggle-yes-label">
                    <input type="radio" name="options" id="yes-toggle-btn"
                           autocomplete="off">
                    On
                </label>
                <label class="btn btn-secondary toggle-no {% if not dinner_schedule_active %} active {% endif %}"
                       id="toggle-no-label">
                    <input type="radio" name="options" id="no-toggle-btn"
                           autocomplete="off"> Off
                </label>
            </div>
        </div>
        <br/>
        <div class="collapse" id="collapse-dinner-schedule">
            <div class="container w-100">
                The dinner schedule is used to create a dinner plan. Please pick which days you are able to cook
                and which days you are able to eat. Cook implies eat.
            </div>
            <br/>
            <div class="container w-100">
                {% with category="Cook", checked_vals = [2] %}
                    {% include 'dinnerclub/weekday-selector.html' %}
                {% endwith %}

                {% with category="Eat", checked_vals = [1, 2] %}
                    {% include 'dinnerclub/weekday-selector.html' %}
                {% endwith %}
            </div>
            <br/>
            <button type="submit" class="btn btn-primary" id="save-dinner-schedule">
                <i class="fa fa-space-shuttle"></i>
                Save changes
            </button>
        </div>

    </div>
</div>
