<h5 class="card-subtitle">
    {{ category }}
</h5>
<div class="weekDays-selector text-center {{ category }}">

    {% for weekday in dinner_schedule_list %}
        <input type="checkbox"
               class="weekday {{ weekday[1]}}"
               id={{ category + weekday[1]}} {% if weekday[0] in checked_vals %} checked {% endif %}>
        <label for={{ category + weekday[1]}}> {{ weekday[1][:2] }} </label>
    {% endfor %}

</div>
