{% if request.user.is_admin %}
	<div class="d-flex p-1 align-middle border border-danger rounded">
		<div class="align-middle p-1">
			{# TODO: This p element appears to be 'flying' for some reason. #}
			<p class="mr-3 mb-0 mt-0 ml-0 align-middle" style="display:block;">
				<span class="text-danger small" data-toggle="tooltip" title="This is enabled because you have admin rights">
					(<i class="fas fa-pastafarianism"></i>)
				</span>
				Mark selected as:
			</p>
		</div>
{% endif %}
		<div class="align-items-center p-1">
		<form action="/expenses/" method="post">
			{{ csrf_input }}
			<input id="expense_pks" name="selected_expenses" type="hidden" value="">
			<button type="submit" name="action" value="A" class="btn btn-outline-success btn-sm mr-2 {% if not request.user.is_staff %} disabled {% endif %}">
				<i class="fa fa-check" aria-hidden="true"></i> Accepted
			</button>
			<button type="submit" name="action" class="btn btn-outline-warning btn-sm mr-2 disabled">
				{# It is intentionally always disabled #}
				<i class="fa fa-question-circle" aria-hidden="true"></i> Pending
			</button>
			<button type="submit" name="action" value="D" class="btn btn-outline-danger btn-sm {% if not request.user.is_staff %} disabled {% endif %}">
				<i class="fa fa-minus-circle" aria-hidden="true"></i> Rejected
			</button>
		</form>
		</div>
{% if request.user.is_admin %}
	</div>
{% endif %}
