<div class="card">
	<h4 class="card-header">
		<i class="fas fa-plus"></i>
		Add an expense
	</h4>
	<div class="card-body">
    <p> <a href="#" data-toggle="modal" data-target="#recommendations">See recommendations</a> </p>
		<form action="/expenses/" method="post">
			{{ csrf_input }}
			<div class="form-row">
				<div class="col-2">
					<input type="date" class="form-control"
						style="padding-top: 6px; padding-bottom: 6px;"
						name="{{form.date.html_name}}"
						id="{{form.date.id_for_label}}",
            value={{today()}}>
				</div>
				<div class="col-1">
					<input type="number" min="1" class="form-control"
						placeholder="Qty." name="{{form.quantity.html_name}}"
						id="{{form.quantity.id_for_label}}">
				</div>
				<div id="typeahead" class="col">
					<input type="text" class="typeahead" placeholder="Description"
						  name="{{form.product.html_name}}"
						  id="{{form.product.id_for_label}}">
				</div>
				<div class="col-2">
					<input type="text" class="form-control"
						placeholder="Unit price (kr)" name="{{form.price.html_name}}"
						 id="{{form.price.id_for_label}}">
				</div>
				<div class="col-1">
					<button type="submit" class="btn btn-primary w-100" value="Create" name="submit">
						<i class="fa fa-plus" aria-hidden="true"></i> Add
					</button>
				</div>
			</div>
			<div class="form-row p-1 pt-2">
					<input type="text" class="form-control"
						placeholder="Comment (optional)" name="{{form.comment.html_name}}"
						 id="{{form.comment.id_for_label}}">
			</div>
		</form>
	</div>
</div>
