<div class="row p-1">
	<div class="col-2">{{ expense.expense_date.strftime("%d %b %y") }}</div>
	<div class="col-2">{{ expense.owner.name }}</div>
	<div class="col">
		{{ expense.quantity }}&times; {{ expense.name }}
		{% if expense.comment %}
		<i class="fa fa-comment text-info" data-toggle="tooltip" title="{{ expense.comment }}"></i>
		{% endif %}
	</div>
	<div class="col-2">{{ expense.total_price }} kr.</div>
	<div class="col-1 px-0 d-flex align-items-center justify-content-end">
		<div class="d-flex w-100 align-items-center p-0 m-0">
			<div class="col p-0">
				{% if expense.is_approved %}
				<i class="fa fa-check text-success" aria-hidden="true"></i>
				{% elif expense.is_disapproved %}
				<i class="fa fa-minus-circle text-danger" aria-hidden="true"></i>
				{% else %}
				<i class="fa fa-question-circle text-warning" aria-hidden="true"></i>
				{% endif %}
			</div>
			<div class="col p-0">
				{% if expense.is_awaiting_approval and expense.owner == request.user %}
				<form action="/expenses/" method="post">
					{{ csrf_input }}
					<input type="hidden" value="{{ expense.pk }}" name="expense_id">
					<button value="Remove" name="submit" type="submit" class="btn btn-outline-danger btn-sm p-0 px-1 m-0 mb-1" data-toggle="tooltip" data-placement="right" title="Slet udgift">
						<i class="fa fa-trash-o pt-1 m-0" aria-hidden="true"></i>
					</button>
				</form>
				{% endif %}
			</div>
			{% if request.user.is_staff %}
			<div class="col-0 mr-1">
				<input class="expense_cb{% if expense.status == 'W' %} pending_cb{% endif %}" type="checkbox" name="{{ expense.pk }}">
			</div>
			{% endif %}
		</div>
	</div>
</div>

