<div class="modal fade" id="recommendations" tabindex="-1" role="dialog">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel"> Items being suggested</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<ul>
					{% for item in autocomplete_strings %}
					<li>{{ item }}</li>
					{% endfor %}
				</ul>
			</div>
		</div>
	</div>
</div>
