<nav class="mt-3">
	<ul class="pagination justify-content-center">
		<li class="page-item{% if at_page-1 < 1 %} disabled{% endif %}">
			<a class="page-link" href="/expenses?p={{ at_page-1}}" aria-label="Previous">
				<span aria-hidden="true"><i class="fa fa-chevron-left" aria-hidden="true"></i></span>
				<span class="sr-only">Previous</span>
			</a>
		</li>
		{% for page in range(1,num_pages+1) %}
		<li class="page-item{% if page == at_page %} active {% endif %}">
			<a class="page-link" href="/expenses?p={{ page }}">{{ page }}</a>
		</li>
		{% endfor %}
		<li class="page-item{% if at_page+1 > num_pages %} disabled{% endif %}">
			<a class="page-link" href="/expenses?p={{ at_page+1 }}" aria-label="Next">
				<span aria-hidden="true"><i class="fa fa-chevron-right" aria-hidden="true"></i></span>
				<span class="sr-only">Next</span>
			</a>
		</li>
	</ul>
</nav>
