/* our own custom stylesheet */
.twitter-typeahead, .tt-hint, .tt-input, .tt-menu {
    width: 100%;
}

.event-description * {
    max-width: 100%;
}

/*Dinner schedule*/
.weekDays-selector input {
    display: none !important;
}

.weekDays-selector input[type=checkbox] + label {
    display: inline-block;
    border-radius: 6px;
    background: #dddddd;
    height: 40px;
    width: 30px;
    margin-right: 3px;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
}

.weekDays-selector.Eat input[type=checkbox]:checked + label {
    background: #2AD705;
    color: #ffffff;
}

.weekDays-selector.Cook input[type=checkbox]:checked + label {
    background: #2A05D7;
    color: #ffffff;
}

.toggle-yes.active,
.toggle-yes:active {
    background-color: #2AD705 !important;
    border-color: #2AD705 !important;
}

.toggle-no.active,
.toggle-no:active {
    background-color: red !important;
    border-color: red !important;
}

.btn-group-admin {
    width: 40%;
}

.dinner-active {
    background-color: #2AD705 !important;
    height:100%;
    width: 100%;
}
