<a class="alert-link font-weight-normal" href="/events/{{ event.pk }}" style="text-decoration: none;">
	<div style="font-size: 75%; padding: 0px; padding-left: 3px; padding-right: 3px;" class="alert mb-1
	{% if event.is_open %}
		{% if event.is_organizer %}
			alert-success border-primary
		{% elif event.is_participant %}
			alert-success
		{% else %}
			alert-primary
		{% endif %}
	{% elif event.is_locked %}
		{% if event.is_participant or event.is_organizer or request.user.is_staff %}
			alert-danger
		{% else %}
			alert-secondary
		{% endif %}
	{% elif event.is_closed %}
		{% if event.is_participant or event.is_organizer %}
			alert-dark
		{% else %}
			alert-secondary
		{% endif %}
	{% endif %}">
		<div class="m-0">
			{% if event.is_organizer %}
				<i class="fa fa-star text-primary" style="font-size: 100%;" aria-hidden="true"></i>
			{% endif %}{% if event.is_participant %}
				<i class="fa fa-cutlery text-sucess" style="font-size: 100%;" aria-hidden="true"></i>
			{% endif %}
			{{ event.name|truncate(18, True, '...', 0)}}
		</div>
		<div class="d-flex">
			<div class="mr-auto">
				{% if event.is_closed %}
				<i class="fa fa-handshake-o text-success" style="font-size: 100%;" aria-hidden="true"></i>
				{% elif event.is_locked %}
				<i class="fa fa-lock text-danger" style="font-size: 100%;" aria-hidden="true"></i>
				{% endif %}
				<i class="fa fa-users" aria-hidden="true"></i>
				{{ "%d"|format(event.total_shares|int) }}
			</div>
			<div>
				<i class="fa fa-clock-o" aria-hidden="true"></i>
				{{ event.time_of_day }}
			</div>
		</div>
	</div>
</a>
