{% extends "base.html" %}
{% block title %}Community Expenses{% endblock %}
{% block content %}

{% include 'expenses-list/modal.html' %}

{% include 'expenses-list/create-expense-form.html' %}

<br />

<div class="card">
	<div class="card-header pb-1 pt-1">
		<div class="d-flex flex-row align-items-center justify-content-end ">
		<h4 style="margin-right: auto;">
			<i class="far fa-money-bill-alt"></i>
			Expenses
		</h4>
		{% include 'expenses-list/admin-buttons.html' %}
		</div>
	</div>
	<div class="card-body">

  		<div id="expenses" class="container">
  			<div class="row rounded bg-dark text-light font-weight-bold p-2">
  				<div class="col-2">Date</div>
  				<div class="col-2">Purchaser</div>
  				<div class="col">Description</div>
  				<div class="col-2">Price</div>
  				<div class="col-1">Status</div>
                {% if request.user.is_staff %}
				<div class="col-0"><input type="checkbox" id="select_all"></div>
                {% endif %}
  			</div>
  			{% if expenses|length > 0 %}
			{% for expense in expenses %}
			{% include 'expenses-list/expense.html' %}
  			{% endfor %}
			{% else %}
  			<div class="row p-1 justify-content-center pt-4">
  				<h5>No expenses added yet:(</h5>
  			</div>
  			{% endif %}
  		</div>
    </form>
	{% include 'expenses-list/pager.html' %}
	</div>
</div>

<script>
{% include 'expenses-list/javascript.js' %}
</script>
{% endblock %}
