{% extends "base.html" %}

{% block title %}{% endblock %}

{% block content %}

{% include 'finance_nav.html' %}

<div class="card">
  <h4 class="card-header">
    Create transactions
    <span class="text-danger">
      (<i class="fas fa-pastafarianism"></i>)
    </span>
  </h4>
  <div class="card-body">
  <div class="container">
    <p>
      {% if request.user.is_staff %}
        You are able to create transactions manually as an admin of the community.
      {% else %}
        You can see this page, but not submit anything. Only the admins of the community can create transactions manually.
      {% endif %}
    </p>
    <form action="{{url("finance:create")}}" method="post">
      {{csrf_input}}
      <div class="form-group row">
        <div class="col-sm-3 col-form-label">Kind:</div>
        <div class="col-sm-9">
          <select name="kind">
          {% for val,name in form.fields.kind.choices %}
            <option value="{{val}}">{{name}}</option>
          {%endfor%}
          </select>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-3 col-form-label">Comment:</div>
        <div class="col-sm-9">
          <input type="text" name="comment"/>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-3 col-form-label">Balance change:</div>
        <div class="col-3">
          <input id="singleinput" type="number" name="singleinput" value="0" step=".01">
        </div>
        <div class="col-4 p-0 balance-warning alert alert-success" id="balance-warning-plus" style="text-align: center; display: none;">
            <i class="fa fa-plus"></i> Increasing chosen users' balances.
        </div>
        <div class="col-4 p-0 balance-warning alert alert-danger" id="balance-warning-minus" style="text-align: center; display: none;">
            <i class="fa fa-minus"></i> Decreasing chosen users' balances.
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-3 col-form-label">Users:</div>
        <div class="col-sm-9">
          {{form.users}}
        </div>
      </div>
      <div id="userselection">
        <input id="deltas" name="deltas" hidden="True" value="">
        {#TODO: do some fancy js stuff to allow inputting different balances for selected users.#}
      </div>
      <div class="form-group row">
  			<div class="col-sm-10">
  				<button type="submit" class="btn btn-primary" {% if not request.user.is_staff %}disabled{%endif%}>
            <i class="fa fa-plus"></i> Create transactions
          </button>
  			</div>
  		</div>
    </form>
  </div>
  </div>
</div>


<script>
var balances = [];

$('#id_users').selectize({
	plugins: ['remove_button'],
	delimiter: ',',
	persist: false,
	//	options: ['lol', 'penos'],
	create: function(input) {
		return {
			value: input,
			text: input
		}
	},
  onItemAdd: function(value, item) {
    balances.push($("#singleinput").val());
    $("#deltas").val(balances.join());
  },
  onItemRemove: function(value) {
    balances.splice(0);
    $("#deltas").val(balances.join());
  }
});

// Use multiple balances because we want to have separate values for users in the future.
// Right now it would probably be simpler if we just used the singleinput directly
$('#singleinput').on("change", function(){
  balances = balances.map(function(k,v,a){
    return $("#singleinput").val();
  });
  $("#deltas").val(balances.join());
});

// Show a message depending on sign of singleinput
$('#singleinput').on("change", function(){
  var plus = ($(this).val() > 0.001);
  var minus = ($(this).val() < -0.001);
  $('#balance-warning-plus').css({display: plus ? "block" : "none"});
  $('#balance-warning-minus').css({display: minus ? "block" : "none"});
});
</script>

{% endblock %}
