{% extends "base.html" %}

{% block title %}{% endblock %}

{% block content %}

{% include 'finance_nav.html' %}

<div class="card">
  <h4 class="card-header">Export Evexa data</h4>
  <div class="card-body">
  <div class="container">
    <form action="{{url("finance:export")}}" method="post">
      {{csrf_input}}
      <div class="form-group row">
        <div class="col-sm-3 col-form-label">Download all data as .json.gz:</div>
        <div class="col-sm-9">
  				<button type="submit" name="Download" value="all.json.gz" class="btn btn-primary"><i class="fa fa-download"></i> Download </button>
  			</div>
      </div>
      <div class="form-group row">
        <div class="col-sm-3 col-form-label">Download a simple summary:</div>
        <div class="col-sm-3">
          <div class="col input-group date" id="fromdate" data-target-input="nearest">
						<input type="text" class="form-control datetimepicker-input" data-target="#fromdate" placeholder="dd/mm/yyyy HH:MM:SS"
																							 name="{{ form.date_from.html_name }}"
						id="{{ form.date_from.id_for_label }}" required />
                        <div class="input-group-append" data-target="#fromdate" data-toggle="datetimepicker">
                            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                        </div>
					</div>
        </div>
        <div class="col-sm-1 text-center">
            <span>to</span>
        </div>
        <div class="col-sm-3">
          <div class="col input-group date" id="todate" data-target-input="nearest">
						<input type="text" class="form-control datetimepicker-input" data-target="#todate" placeholder="dd/mm/yyyy HH:MM:SS"
																							 name="{{ form.date_to.html_name }}"
						id="{{ form.date_to.id_for_label }}" required />
                        <div class="input-group-append" data-target="#todate" data-toggle="datetimepicker">
                            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                        </div>
					</div>
        </div>
        <div class="col-sm-2">
  				<button type="submit" name="Download" value="simplesummary" class="btn btn-primary"><i class="fa fa-download"></i> Download </button>
        </div>
      </div>
    </form>
  </div>
  </div>
</div>


<script>
$(function () {
	$('#fromdate, #todate').datetimepicker({
		locale: 'da',
		format: 'DD/MM/YYYY HH:mm:ss',
    sideBySide: true
	});
});

var balances = [];

$('#id_users').selectize({
	plugins: ['remove_button'],
	delimiter: ',',
	persist: false,
	//	options: ['lol', 'penos'],
	create: function(input) {
		return {
			value: input,
			text: input
		}
	},
  onItemAdd: function(value, item) {
    balances.push($("#singleinput").val());
    $("#deltas").val(balances.join());
  },
  onItemRemove: function(value) {
    balances.splice(0);
    $("#deltas").val(balances.join());
  }
});

// Use multiple balances because we want to have separate values for users in the future.
// Right now it would probably be simpler if we just used the singleinput directly
$('#singleinput').on("change", function(){
  balances = balances.map(function(k,v,a){
    return $("#singleinput").val();
  });
  $("#deltas").val(balances.join());
});
</script>

{% endblock %}
