<div class="card">
  <ul class="nav nav-pills">
      {% for (name, admin), href in subnav.items() %}
      {% if request.user.is_admin or not admin %}
      <li class="nav-item">
        <a class="nav-link{% if request.path == url(href) %} active{%endif%}" href="{{url(href)}}">
          {{name}}
          {% if admin %}
          <span class="text-danger" data-toggle="tooltip" title="This is enabled because you have admin rights">
            (<i class="fas fa-pastafarianism"></i>)
          </span>
          {% endif %}
        </a>
      </li>
      {% endif %}
      {% endfor %}
  </ul>
</div>
