{% extends "base.html" %}

{% block title %}Finance{% endblock %}

{% block content %}

{% include 'finance_nav.html' %}

<div class="card">
  <h4 class="card-header">All transactions</h4>
  <div id="transactions" class="container">
    <div class="row rounded bg-dark text-light font-weight-bold p-2">
      <div class="col-2"> User </div>
      <div class="col-2"> Δ </div>
      <div class="col-3"> Time </div>
      <div class="col-5"> Context </div>
    </div>
    {% for t in transactions %}
      <div class="row">
        <div class="col-2"> {{ t.account.user }} </div>
        <div class="col-2"> {{ t.balance_delta }} kr.</div>
        <div class="col-3"> {{ t.creation_date.strftime("%Y-%m-%d %H:%M:%S") }} </div>
        <div class="col-5"> {{ t.context }} </div>
      </div>
    {% endfor %}
  </div>
  <nav class="mt-3">
    <ul class="pagination justify-content-center">
      <li class="page-item{% if at_page-1 < 1 %} disabled{% endif %}">
        <a class="page-link" href="/finance?{{ get_encode(request.GET, p=at_page-1) }}" aria-label="Previous">
          <span aria-hidden="true"><i class="fa fa-chevron-left" aria-hidden="true"></i></span>
          <span class="sr-only">Previous</span>
        </a>
      </li>
      {% for page in pages %}
      {% if page == "." %}
      <li class="page-item disabled">
          <span class="page-link">...</span>
      </li>
      {% else %}
      <li class="page-item{% if page == at_page %} active {% endif %}">
        <a class="page-link" href="/finance?{{ get_encode(request.GET, p=page) }}">
            {{ page }}
        </a>
      </li>
      {% endif %}
      {% endfor %}
      <li class="page-item{% if at_page+1 > num_pages %} disabled{% endif %}">
        <a class="page-link" href="/finance?{{ get_encode(request.GET, p=at_page+1) }}" aria-label="Next">
          <span aria-hidden="true"><i class="fa fa-chevron-right" aria-hidden="true"></i></span>
          <span class="sr-only">Next</span>
        </a>
      </li>
    </ul>
  </nav>

</div>
{% endblock %}
