:root {
    --reviews--primery: #6353D9;
    --reviews--hover: #4A58DD;
    --reviews--active: #8450DB;
    --reviews--primery-10: #f1ecf9;
    --reviews--primery-200: #E8F0FE;
    --reviews--primery-100: #EFF2FE;

    --reviews--dark: #2C2C2C;
    --reviews--gray-input: #aab4bd;
    --reviews--gray-700: #495057;
    --reviews--gray-600: #8F9396;
    --reviews--gray-500: #ABB5BE;
    --reviews--gray-400: #cdd3d9;
    --reviews--gray-300: #E9ECEF;
    --reviews--gray-200: #F3F5F6;
    --reviews--white: #FFF;

    --reviews--green-green: #18B131;
    --reviews--green-yello: #FF9935;
    --reviews--green-red: #F66767;
    --body-font-family-reviews: 'Roboto', sans-serif;
    --swiper-navigation-size: 64px;
    --padding-container-reviews: calc(80px + (120 - 80) * ((100vw - 1440px) / (1920 - 1440)));
    --body-scrollbar-width-reviews: 0px;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background-color: var(--backdrop, rgba(0, 0, 0, 0.2));
    opacity: 0;
    transition: opacity var(--transition, 0.3s ease);
    z-index: 10;
}

.fs-small {
    font-size: 16px;
}

.reviews.reviews-tab-wrap {
    margin-bottom: 0;
}

.reviews .tab-reviews {
    margin-right: 16px;
}

.reviews .btn-reviews.btn-reviews--active__tab {
    background: var(--reviews--gray-200);
}

#reviews {
    justify-content: space-between;
    width: 100%;
}

.reviews {
    align-items: start;
    font-family: var(--body-font-family-reviews);
    font-size: 16px;
    color: var(--reviews--dark);
}

.reviews-base {
    container-type: inline-size;
    container-name: reviews-base;
}

.sotbit-reviews-container {
    container-type: inline-size;
    container-name: reviews-base;
}

/*.sotbit-reviews-container .reviews{*/
/*    margin: 0;*/
/*    padding-left: var(--padding-container-reviews);*/
/*    padding-right: calc(var(--padding-container-reviews) + var(--body-scrollbar-width-reviews));*/
/*}*/


@media (max-width: 1920px) {
    --padding-container-reviews: calc(80px + (120 - 80) * ((100vw - 1440px) / (1920 - 1440)));
}

@media (max-width: 1440px) {
    --padding-container-reviews: calc(40px + (80 - 40) * ((100vw - 1024px) / (1440 - 1024)));
}

@media (max-width: 1024px) {
    --padding-container-reviews: 40px;
}

@media (max-width: 768px) {
    --padding-container-reviews: calc(16px + (40 - 16) * ((100vw - 576px) / (768 - 576)));
}

@media (max-width: 576px) {
    --padding-container-reviews: 16px;
}

/*all*/
.linear-reviews {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)),
    linear-gradient(255.4deg, rgba(53, 91, 224, 0.1) 0%, rgba(185, 69, 204, 0.1) 100%);
}

.linear-reviews-main {
    background: linear-gradient(255.4deg, #355BE0 0%, #B945CC 100%);
}

.reviews .d-flex-reviews {
    display: flex;
}

.reviews .d-flex-reviews-center {
    justify-content: center;
    align-items: center;
}

.reviews .j-content-between-reviews {
    justify-content: space-between;
}

.reviews .f-basis-reviews {
    flex-basis: 100%;
}

.reviews .r-p-1 {
    margin-bottom: 8px;
}

.reviews .r-p-05 {
    margin-bottom: 4px;
}

.reviews .r-p-4 {
    margin-bottom: 24px;
}

.reviews .r-m-1 {
    margin-right: 4px;
}

.reviews .r-m-3 {
    margin-right: 8px;
}

.reviews .l-m-1 {
    margin-left: 4px;
}

.reviews .l-m-6 {
    margin-left: 24px;
}

.reviews .r-m-2 {
    margin-right: 2px;
}

.reviews .top-m-2 {
    margin-top: 8px;
}

.reviews .top-m-8 {
    margin-top: 24px;
}

.reviews .r-m-4 {
    margin-right: 16px;
}

.reviews .circle {
    border-radius: 50%;
}

.reviews .btn-reviews {
    text-align: center;
    padding: 9.5px 24px;
    border-radius: 32px;
    background: var(--reviews--white);
    border: 0;
    font-size: 18px;
    font-weight: 700;
}

.reviews .btn-reviews-small {
    text-align: center;
    padding: 9.5px 24px;
    border-radius: 32px;
    border: 0;
    font-size: 16px;
    font-weight: 400;
    background: #fff;
    transition: background 0.3s;
}

.reviews .btn-reviews-small.not-p {
    display: block;
    padding: 0;
}

.reviews .btn-reviews-small p {
    margin-left: 8px;
    margin-bottom: 0;
}

.reviews .btn-reviews-small:hover {
    background: var(--reviews--gray-200);
}

.reviews .btn-reviews-small:active path {
    fill: var(--reviews--dark);
}

.reviews .btn-lite-reviews {
    color: var(--primary, var(--reviews--active));
    background: var(--reviews--primery-100);
    font-weight: 500;
    font-size: 16px;
}

.reviews .btn-lite-reviews:hover {
    color: var(--primary-active, var(--reviews--primery));
    background: var(--reviews--primery-200);
}

.reviews .btn-lite-reviews:active {
    color: var(--reviews--hover);
    background: var(--reviews--primery-200);
}

.reviews btn-reviews.btn-reviews--disabled p {
    color: var(--reviews--gray-600);
}

.reviews .btn-reviews p {
    padding-left: 8px;
    margin: 0;
    color: var(--reviews--gray-700);
}

.reviews .btn-reviews p:hover {
    color: var(--reviews--dark);
}

.reviews .btn-reviews--main:active {
    background: var(--reviews--active) !important;
}

.reviews .btn-reviews--main {
    border: 0;
    color: var(--reviews--white);
    background: var(--reviews--primery);
    font-weight: 500;
    font-size: 16px;
    padding: 12px 32px;
    cursor: pointer;
    transition: background 0.3s;
}

.reviews .btn-reviews--main:hover:not(.btn-reviews--main--active) {
    background: var(--reviews--hover);
}

.reviews .btn-reviews--main--active {
    background: var(--reviews--hover);
}

.reviews p.primary-text, span.primary-text, a.primary-text {
    color: var(--primary ,var(--reviews--active));
}

.reviews .primary-text:hover {
    color: var(--primary-active ,--reviews--primery);
}

.reviews p.gray-text, span.gray-text {
    display: inline-block;
    margin-top: 2px;
    color: var(--reviews--gray-600);
}

.reviews p.gray-text-700, span.gray-text-700 {
    font-weight: 500;
    color: var(--reviews--gray-700);
}

.reviews .title-checkbox {
    color: var(--reviews--gray-700);
}

.reviews .title-checkbox-modal {
    color: var(--reviews--dark) !important;
    font-weight: 400 !important;
    margin: 0;
}

.reviews .input-checkbox-reviews {
    appearance: none;
}

.reviews .input-checkbox-reviews {
    position: relative;
    outline: 2.5px solid var(--reviews--gray-500);
    outline-offset: -2.5px;
    overflow: hidden;
    transition: outline-color 0.3s ease;
    cursor: pointer;
}

.reviews .input-checkbox-reviews::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    opacity: 0;
    background-color: var(--primary, var(--reviews--active));
    transition: opacity 0.3s ease, background-color 0.3s ease;
}

.reviews .input-checkbox-reviews:checked {
    outline-color: var(--primary, var(--reviews--active));
}

.reviews .input-checkbox-reviews:checked::before {
    opacity: 1;
}

.reviews .input-checkbox-reviews:hover:not(:disabled) {
    outline-color: var(--reviews--hover);
}

.reviews .input-checkbox-reviews:hover .btn-filter p {
    color: var(--reviews--dark);
}

.reviews .input-checkbox-reviews:hover:not(:disabled)::before {
    background-color: var(--reviews--active);
}

.reviews .input-checkbox-reviews:active:not(:disabled), .input-checkbox-reviews:focus-visible:not(:disabled) {
    outline-color: var(--reviews--active);
}

.reviews .input-checkbox-reviews:active:not(:disabled)::before, .input-checkbox-reviews:focus-visible:not(:disabled)::before {
    background-color: var(--reviews--active);
}

.reviews .input-checkbox-reviews:disabled {
    outline-color: var(--reviews--active) !important;
}

.reviews .input-checkbox-reviews:disabled::before {
    background-color: var(--reviews--active);
}

.reviews .input-checkbox-reviews {
    width: 18px;
    height: 18px;
    border-radius: 3px;
}

.reviews .input-checkbox-reviews::before {
    width: 100%;
    height: 100%;
    background-image: url("data:image/svg+xml,%3Csvg width='12' height='10' viewBox='0 0 12 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 5.5L4 8.5L11 1.5' stroke='white' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
    background-position: center;
    background-repeat: no-repeat;
}

.reviews .swiper-slide {
    margin-right: 10px !important;
}

.reviews .reviews__wrapper .swiper {
    height: 100px;
}

.reviews .wrapper__statistic .swiper {
    height: 138px;
}

.reviews .reviews__wrapper .swiper-slide {
    border-radius: 24px;
    width: 82px !important;
}

.reviews .wrapper__statistic .swiper-slide {
    border-radius: 24px;
    width: 118px !important;
    height: 138px !important;
}

.reviews .reviews__wrapper .swiper-slide video {
    position: relative;
    border-radius: 24px;
    height: 100px;
    width: 82px !important;
    object-fit: cover;
}

.reviews .reviews__wrapper .swiper-slide.video::before,
.reviews .wrapper__statistic .swiper-slide.video::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    background-image: url("data:image/svg+xml,%3Csvg width='48' height='48' viewBox='0 0 48 48' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M24 44C35.0457 44 44 35.0457 44 24C44 12.9543 35.0457 4 24 4C12.9543 4 4 12.9543 4 24C4 35.0457 12.9543 44 24 44ZM33.7655 22.7127C34.7395 23.2948 34.7395 24.7058 33.7655 25.2879L21.4043 32.6755C19.9045 33.5718 18 32.4913 18 30.7441V17.2568C18 15.5097 19.9045 14.4292 21.4042 15.3254L33.7655 22.7127Z' fill='white'/%3E%3C/svg%3E%0A");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    transform: translate(-50%, -50%);
    transition: opacity 0.3s;
    z-index: 1;
    pointer-events: none;
}

.reviews .reviews__wrapper .swiper-slide.video::before {
    width: 36px;
    height: 36px;
}

.reviews .wrapper__statistic .swiper-slide.video::before {
    width: 48px;
    height: 48px;
}

.reviews .reviews__wrapper .swiper-slide.video:hover::before,
.reviews .wrapper__statistic .swiper-slide.video:hover::before {
    opacity: 0.8;
}

.reviews .reviews__wrapper .swiper-slide picture img {
    border-radius: 16px;
    height: 100px;
    width: 82px !important;
    object-fit: cover;
}

.reviews .wrapper__statistic .swiper-slide video {
    border-radius: 24px;
    height: 138px;
    width: 118px;
    object-fit: cover;
}

.reviews .wrapper__statistic .swiper-slide picture img {
    border-radius: 16px;
    height: 138px;
    width: 118px !important;

    object-fit: cover;
}

.reviews .swiper-button-next:after, .reviews .swiper-container-rtl .swiper-button-prev:after {
    content: '' !important;
    height: 0;
    width: 0;
}

.reviews .swiper-button-prev:after, .reviews .swiper-container-rtl .swiper-button-prev:after {
    content: '' !important;
    height: 0;
    width: 0
}

.reviews .swiper-wrap-pagination {
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    border-radius: 50%;
}

.reviews .swiper-wrap-pagination svg {
    height: 24px !important;
    width: 24px !important;
}

.reviews .swiper-wrap-pagination:hover path {
    fill: var(--primary , var(--reviews--active));
}

.reviews .swiper-button-next {
    right: 5px !important;
}

.swiper-button-next. svg {
    display: none !important;
}

.swiper-button-lock svg {
    display: none !important;
}

.reviews .swiper-button-prev {
    left: 5px !important;
}

.reviews .swiper-button-prev.swiper-button-disabled, .reviews .swiper-button-next.swiper-button-disabled {
    display: none;
}

.reviews .swiper-button-next, .reviews .swiper-button-prev {
    width: 64px !important;
    height: 60px !important;
    opacity: 1 !important;
}

.reviews .btn-filter {
    cursor: pointer;
}

.reviews .btn-filter p {
    font-weight: 500;
}

.reviews .btn-filter {
    color: var(--reviews--gray-700);
}

.reviews .btn-filter:hover p {
    color: var(--reviews--dark);
}

.reviews .btn-filter:hover .title-checkbox-modal {
    color: var(--reviews--dark);
}

.reviews .btn-filter span:hover:not(.not-hover) {
    color: var(--reviews--dark);
}

.reviews .btn-filter.disabled {
    color: var(--reviews--gray-input);
    cursor: auto;
    pointer-events: none;
}

.reviews .transfer {
    transform: rotate(180deg); /* Equal to rotateZ(45deg) */
}

/*end all*/

/*add */
.reviews .review_add__link {
    display: inline-block;
    padding-top: 4px;
    color: var(--primary ,var(--reviews--active));
}

.reviews .review_add__link:hover {
    color: var(--primary-active ,var(--reviews--primery));
}

/*end add*/

@container reviews-base (max-width: 1250px) {
    #reviews {
        flex-direction: column;
    }

    .reviews .reviews__wrapper {
        width: 100% !important;
        margin-right: 0 !important;
    }

    .reviews .wrapper__statistic {
        position: static !important;
        order: -1 !important;
        width: 100% !important;
        margin-bottom: 40px !important;
    }
}

@media (max-width: 1024px) {
    .reviews-base {
        margin: 0;
    }

    #reviews {
        align-items: normal;
        margin: 0 40px !important;
    }
}

@media (max-width: 646px) {
    #reviews {
        align-items: normal;
        margin: 0 16px !important;
    }

    .control__title-sort p {
        display: none !important;
    }
}

@media (max-width: 576px) {
    .reviews.reviews-tab-wrap {
        margin: 0 16px !important;
    }

    .reviews .circle {
        border-radius: 50%;
        width: 74px;
        height: 74px;
    }

    .user__info--counter, .swiper-button-next, .swiper-button-prev {
        display: none !important;
    }

    .reviews .content__reviews {
        width: 100% !important;
    }

    .content__reviews__item__info {
        height: 100px;
    }

    .reviews .tab-reviews {
        margin-right: 8px;
    }

    .reviews .more-reviews .btn-lite-reviews {
        padding: 11px 100px !important;
    }

    .reviews .pagination-info {
        display: none !important;
    }

    .reviews .pagination-reviews {
        justify-content: center;
    }

    .reviews .navigation {
        flex-basis: 90% !important;
    }
}

/*modal*/

.top-message-icon {
    flex-shrink: 0 !important;
}

.top-message {
    position: fixed;
    top: 0;
    left: 50%;
    max-width: 30vw;
    padding: 16px 24px;
    background: linear-gradient(255deg, #355BE019 0%, #B945CC19 100%);
    border-radius: 32px;
    -webkit-backdrop-filter: blur(120px);
    backdrop-filter: blur(120px);
    z-index: 10000;
    user-select: none;
    display: flex !important;
    gap: 8px;
    white-space: nowrap;
}

.top-message-content {
    min-width: 0;
    white-space: pre-line;
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    width: 100% !important;
}
