<div class="modal fade" id="changePasswordModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Change your password</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form method="post">
					{{ csrf_input }}
					<div class="form-group">
						<label for="{{form.old_password.id_for_label}}">
							Old password
						</label>
						<input type="password" class="form-control"
							 id="{{form.old_password.id_for_label}}"
							 name="{{form.old_password.html_name}}">
					</div>
					<div class="form-group">
						<label for="{{form.new_password1.id_for_label}}">
							New password
						</label>
						<input type="password" class="form-control"
							 id="{{form.new_password1.id_for_label}}"
							 name="{{form.new_password1.html_name}}">
					</div>
					<div class="form-group">
						<label for="{{form.new_password2.id_for_label}}">
							New password confirmation
						</label>
						<input type="password" class="form-control"
							 id="{{form.new_password2.id_for_label}}"
							 name="{{form.new_password2.html_name}}">
					</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				<button type="submit" class="btn btn-primary">Save changes</button>
				</form>
			</div>
		</div>
	</div>
</div>
