{% extends "base.html" %}

{% block page_content %}

<h1>{{ resident['name'] }}</h1>

<h3>Seneste indkoeb</h3>

<h3>Seneste transaktioner</h3>
<table class="table table-hover">
	<thead class="thead-default">
		<tr>
			<th>Dato</th>
			<th>Beskrivelse</th>
			<th>Beloeb</th>
		</tr>
	</thead>
	<tbody>
		{% if transactions %}
		{% for t in transactions %}
		<tr>
			<th scope="row">{{ user['room'] }}</th>
			<td>{{ user['name'] }}</td>
			<td>{{ user['balance'] }} kr.</td>
		</tr>
		{% endfor %}
		{% else %}
		<tr><td colspan="3" align="center">Ingen transaktioner :(</td></tr>
		{% endif %}
	</tbody>
</table>


{% endblock %}
