<div class="card mx-auto" style="width: 40rem;">
    <div class="card-body">
        <h4 class="card-title">
            {% if request.user.pk == user.pk %}
                Details
            {% else %}
                Details for {{ user.nick }}
            {% endif %}
            {% if user.is_admin %} <span class="text-muted">- admin</span>{% endif %}
            {% if not user.is_active %}
                <i data-toggle="tooltip" data-placement="top"
                   title="The user is inactive" class="fa fa-ban text-danger"></i>
            {% endif %}
        </h4>
        <div class="container w-100">
            <div class="row">
                <div class="col-3">
                    <strong>Name</strong>
                </div>
                <div class="col">
                    {{ user.name }}
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <strong>Email</strong>
                </div>
                <div class="col">
                    {{ user.email }}
                </div>
            </div>
            {% if request.user.pk == user.pk %}
                <div class="row">
                    <div class="col-3">
                        <strong>Password</strong>
                    </div>
                    <div class="col">
                        <button type="button" class="btn btn-primary btn-sm" data-toggle="modal"
                                data-target="#changePasswordModal">
                            Change
                        </button>
                    </div>
                </div>
            {% endif %}
            <div class="row">
                <div class="col-3">
                    <strong>Balance</strong>
                </div>
                <div class="col">
                    {{ user.account.balance }} kr.
                </div>
            </div>
            {% if request.user.is_admin %}
                <div class="row">
                    {{ csrf_input }}
                    <div class="btn-group" role="group" aria-label="Edit user">
                        <button id="changeUserInfo" class="btn btn-primary" data-toggle="modal"
                                data-target="#changeUserInfoModal"> Edit user information
                        </button>
                    </div>
                    {{ password_reset_message }}
                    <form method="post">
                        {{ csrf_input }}
                        <div class="btn-group" role="group" aria-label="Password reset">
                            <button type="submit" name="action" class="btn btn-danger" value="RESET_PASSWORD">
                                Reset {{ user.nick }}'s password NOW
                            </button>
                        </div>
                    </form>

                </div>
                <div class="modal fade" id="changeUserInfoModal" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <form action="{{ url("users:edit_user", args=(user.pk,)) }}" method="post">
                                {{ csrf_input }}
                                <div class="modal-header">
                                    <h5 class="modal-title">Change user details</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div class="form-row">
                                        <div class="col-3">
                                            Name:
                                        </div>
                                        <div class="col-9">
                                            {{ user_edit_form.name }}
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col-3">
                                            Nickname:
                                        </div>
                                        <div class="col-9">
                                            {{ user_edit_form.nick }}
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col-3">
                                            Email:
                                        </div>
                                        <div class="col-9">
                                            {{ user_edit_form.email}}
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="submit" name="action" class="btn btn-primary">Save changes</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
</div>

