{% extends "base.html" %}
{% block title %}Residents
{% if request.user.is_admin %}
<a class="btn btn-primary btn-lg" href="/users/create" role="button"
		data-toggle="tooltip" data-placement="bottom" title="Create user">
		<i class="fa fa-plus" aria-hidden="true"></i>
</a>
{% endif %}
{% endblock %}
{% block content %}

<form method="post">
{{ csrf_input }}

<ul class="nav nav-tabs" id="users-tabs" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="current-tab" data-toggle="tab" href="#current" role="tab" aria-controls="current" aria-selected="true">Current users</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="archived-tab" data-toggle="tab" href="#archived" role="tab" aria-controls="archived" aria-selected="false">Archived users</a>
    </li>
</ul>

<div class="tab-content" id="users-tabs-content">
    <div class="tab-pane fade show active" id="current" role="tabpanel" aria-labelledby="current-tab">
        <table class="table table-hover">
            <thead class="thead-default">
                <tr>
                    {% if request.user.is_admin %}
                    <th></th>
                    {% endif %}
                    <th>Nickname</th>
                    <th>Name</th>
                    <th>Balance</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                <tr>
                    {% if request.user.is_admin %}
                    <td><input type="checkbox" name="selected_users" value="{{user.pk}}"></td>
                    {% endif %}

                    <td>{{ user.nick }} </td>
                    <td><a href="{{ url("users:profile", args=(user.pk,)) }}">
														{{ user.name }}
														{% if user.is_admin %}
														<i class="fas fa-pastafarianism" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="User is admin"></i>
														{% endif %}
                        </a></td>
                        <td {% if not user.get_balance_status_ok  %} class="text-danger" {% endif %}>
                            {{ user.account.balance }} kr.
                        </td>

                        <td><a href="{{ url("finance:index")}}?user={{user.pk}}">Transactions</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% if request.user.is_admin %}
				<div class="d-flex flex-row align-items-center">
					<div class="row d-flex p-1 align-middle border border-danger rounded">
						<div class="align-middle p-1">
							{# TODO: This p element appears to be 'flying' for some reason. #}
								<span class="text-danger" data-toggle="tooltip" title="This is enabled because you have admin rights">
									(<i class="fas fa-pastafarianism"></i>)
								</span>
						</div>
		        <div class="btn-group mr-1" role="group" aria-label="archive users">
		            <button type="submit" name="action" class="btn btn-warning" value="archive_users">Archive users</button>
		        </div>
						<div class="btn-group" role="group" aria-label="archive users">
		            <button type="submit" name="action" class="btn btn-danger" value="make_admin">
									Give <i class="fas fa-pastafarianism" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Admin"></i> privileges
								</button>
								<button type="submit" name="action" class="btn btn-danger" value="unmake_admin">
									Remove <i class="fas fa-pastafarianism" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Admin"></i> privileges
								</button>
		        </div>
					</div>
				</div>
        {% endif %}
    </div>

    <!-- Archived users -->
    <div class="tab-pane fade" id="archived" role="tabpanel" aria-labelledby="archived-tab">

         <table class="table table-hover">
            <thead class="thead-default">
                <tr>
                    {% if request.user.is_admin %}
                    <th></th>
                    {% endif %}
                    <th>Nickname</th>
                    <th>Name</th>
                    <th>Balance</th>
                    <th></th>
                    <th>Archive timestamp</th>
                </tr>
            </thead>
            <tbody>
                {% for user in archived_users %}
                <tr>
                    {% if request.user.is_admin %}
                    <td><input type="checkbox" name="selected_users" value="{{user.pk}}"></td>
                    {% endif %}

                    <td>{{ user.nick }} </td>
                    <td>{{ user.name }} </td>

                    <td {% if not user.get_balance_status_ok  %} class="text-danger" {% endif %}>
                        {{ user.account.balance }} kr.
                    </td>

                    <td><a href="{{ url("finance:index")}}?user={{user.pk}}">Transactions</a></td>

                    {% if request.user.is_admin %}
                        <td>{{ user.archive_timestamp.strftime('%Y-%m-%d %H:%M:%S') }}</td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>

        {% if request.user.is_admin %}
				<div class="d-flex flex-row align-items-center">
					<div class="row d-flex p-1 align-middle border border-danger rounded">
						<div class="align-middle p-1">
							{# TODO: This p element appears to be 'flying' for some reason. #}
								<span class="text-danger" data-toggle="tooltip" title="This is enabled because you have admin rights">
									(<i class="fas fa-pastafarianism"></i>)
								</span>
						</div>
		        <div class="btn-group" role="group" aria-label="unarchive users">
		            <button type="submit" name="action" class="btn btn-danger" value="unarchive_users">Unarchive users</button>
		        </div>
					</div>
				</div>
        {% endif %}
    </div>

</div>

</form>
{% endblock %}
