{% extends "base.html" %}
{% set user = user_of_page %}
{% block title %}{% endblock %}
{% block content %}

<div class="card mx-auto" style="width: 40rem;">
	<div class="card-body">
		<h4 class="card-title">
			Create a new user
		</h4>
		<div class="container w-100">
			<p>The user you create will be assigned a random password, which you can give to them after.
			Remember to encourage them to change it. </p>
			<form method='post'>
		    {{ csrf_input }}
		    {{ form.as_ul() }}
		    <input type="submit" value="Submit" />
			</form>
		</div>
	</div>
</div>

{% endblock %}
