.w-40{
	width:45%;
}
.reviews button{
	outline: none;
}

.reviews.review_modal{
	margin:0;
	pointer-events: none;
}

.reviews .form-group-reviews.file .form-group-reviews-wrapper{
	overflow-x: auto;
	margin-bottom: auto;
}
.reviews .form-group-reviews.file .file-wrap{
	max-width: 630px;
}

.reviews.no-file .form-group-reviews.file{
	display:none;
}

.footer_modal{
	margin-top: 100% auto;
}

.reviews .dropzone {
	flex-wrap: nowrap !important;
	height: 100%;
	border-color: var(--reviews--gray-500) !important;
	background-color: transparent !important;
	min-height: 93px !important;
	border: 0 !important;
	padding: 0!important;
	margin: 0!important;
}

.reviews .dropzone.dz-clickable {
	padding: 0;
	margin-bottom: 4px;
	border: none;
	display: flex;
	flex-direction: row;
	position: relative;
}
.reviews .dropzone .dz-placeholder {
	height: 120px;
	width: 108px!important;
	border: 0;
	box-sizing: border-box;
	justify-content: center;
	align-items: center;
	flex-shrink: 0;
	pointer-events: none;
	margin-top:16px !important;
	display: none;
}
.reviews .dropzone :not(:last-child, .dz-placeholder) {
	margin-right: 16px !important;
}
.reviews .dropzone .dz-error-message{
	margin: 0 !important;
}
.reviews .dropzone .dz-placeholder{
	margin: 0 !important;
}
.reviews .dropzone .dz-placeholder:not(button) {
	color: var(--reviews--gray-500) !important;
}
.reviews .dropzone .dz-preview {
	position: relative;
	width: 108px!important;
	flex-shrink: 0 !important;
	margin: 0 !important;
	padding: 0 !important;
	box-shadow: none !important;
	border: none !important;
	border-radius: 24px !important;
}

.reviews .dropzone .dz-preview:not(:last-of-type) {
	margin-right: 16px !important;
}
.reviews .dropzone .dz-preview{
	margin-top: 16px !important;
}
.reviews .dropzone .dz-preview .dz-details {
	border-radius: 24px;
	padding: 0 !important;
	overflow: hidden;
	display:none;
}
.reviews .dropzone .dz-preview a.dz-remove {
	position: absolute !important;
	top: 0 !important;
	right: -10px !important;
	display: flex !important;
	justify-content: center !important;
	align-items: center !important;
	width: 30px !important;
	height: 30px !important;
	margin: 0 !important;
	padding: 0 !important;
	background-color: var(--reviews--gray-500) !important;
	border: none !important;
	border-radius: 50% !important;
	z-index: 1000 !important;
	cursor: pointer !important;
}
.reviews .dropzone .dz-preview a.dz-remove:hover, .dropzone .dz-preview a.dz-remove:focus {
	background-color: var(--reviews--hover);
}
.reviews .dropzone .dz-preview a.dz-remove svg, .dropzone .dz-preview a.dz-remove svg * {
	cursor: pointer !important;
}
.reviews .dropzone .dz-preview a.dz-remove svg path {
	stroke: var(--reviews--white);
}
.reviews .dropzone .dz-preview .dz-image {
	width: 108px !important;
	height: 120px !important;
	border-radius: 24px !important;
}
.reviews .dropzone .dz-preview .dz-image img, video {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 24px;
}
.reviews .dropzone .dz-preview .dz-image:has(video)::before {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 40px;
	height: 40px;
	background-image: url("data:image/svg+xml,%3Csvg width='48' height='48' viewBox='0 0 48 48' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M24 44C35.0457 44 44 35.0457 44 24C44 12.9543 35.0457 4 24 4C12.9543 4 4 12.9543 4 24C4 35.0457 12.9543 44 24 44ZM33.7655 22.7127C34.7395 23.2948 34.7395 24.7058 33.7655 25.2879L21.4043 32.6755C19.9045 33.5718 18 32.4913 18 30.7441V17.2568C18 15.5097 19.9045 14.4292 21.4042 15.3254L33.7655 22.7127Z' fill='white'/%3E%3C/svg%3E%0A");
	background-position: center;
	background-repeat: no-repeat;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 2;
}
.reviews .dropzone .dz-preview .dz-success-mark, .dropzone .dz-preview .dz-error-mark {
	display: none !important;
}
.reviews .dropzone .dz-filename {
	display: -webkit-box;
	font-size: 14px;
	overflow: hidden;
	text-overflow: ellipsis;
	-webkit-line-clamp: 5;
	-webkit-box-orient: vertical;
}
.reviews .dropzone .dz-message {
	margin:0 0 !important;
}
.reviews .dropzone .dz-default.dz-message::before {
	content: "" !important;

}
.reviews .dropzone .dz-default.dz-message {
	border: 1px dashed var(--reviews--gray-500) !important;
	padding: 24px 0 !important;
	margin-bottom: 0 !important;
	text-align: center;
	width: 100%;
}
.reviews .dropzone .dz-message .dz-button{
	font-weight: 400 !important;
	color: var(--reviews--dark) !important;
	outline: none;
	background: none;
	border: none;
}
.reviews .dropzone.dz-clickable .dz-message{
	display:block;
}
.dropzone.dz-started{
	height: auto !important;
}
.reviews .dropzone .dz-placeholder[type="button"]{
	/*display:none !important;*/
}
.reviews button.dz-placeholder{
	height: 120px;
	width: 120px;
	border: 1px dashed gray;
	background: transparent;
	border-radius: 24px;
	display: none;
	margin: 0 auto;
}
.reviews button.dz-placeholder svg{
	margin:  0 auto;
}
.reviews button.dz-placeholder.d-block{
	height: 120px;
	width: 120px;
	border: 1px dashed gray;
	background: transparent;
	border-radius: 24px;
	margin-right: 16px !important;
	margin-top: 16px !important;
	display: none;
	text-align: center;
}
.d-block{
	display:inline-block!important;
}
.reviews button.dz-placeholder svg{
	color: var(--primary, var(--reviews--active));
}

.review_add__modal_header {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: start;
}
.review_add__modal_footer{
	width: 100%;
	justify-content: space-between;
}

.review_add__modal_footer button:not(.w-40) {
	width: 100%;
}
.review_add__modal_content {
	margin: 0 auto;
	max-width: 680px;
	max-height: 100%;
	padding: 24px;
	overflow: hidden;
	border-radius: 32px;
	background-color: var(--reviews--white);
	width: 100%;
	pointer-events: all;
}
@media (max-width: 1024px) {
	.review_add__modal_content {
		max-height: 100%;
	}
}
.no-file .review_add__modal_content{
	height: auto;
}
.no-file .review_add__modal_body{
	height: auto;
}
.review_add__title {
	font-size: 24px;
	font-weight: 500;
}
.review_add__close {
	cursor: pointer;
	background: transparent;
	border: transparent;
	outline: none;
}
.review_add__close svg path {
	transition: stroke 0.3s;
}
.review_add__close:hover svg path {
	stroke: var(--reviews--primery);
}
.review_add__modal_body {
	max-height: calc(100vh - 210px);
	min-width: 0;
}
@media (max-width: 1024px) {
	.review_add__modal_body {
		max-height: calc(100% - 60px);
	}
}
.review_add__modal_body form {
	display: flex;
	flex-direction: column;
}
.review_add__modal_body.simplebar-scrollable-y {
	padding-right: 8px;
}
.review_add__modal_body .form-group {
	display: flex;
	flex-direction: column;
	margin-bottom: 16px;
}
.review_add__modal_body .form-group label {
	padding: 0 0 4px;
}
.review_add__product {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	margin: 16px 0;
}
.review_add__product .product__img {
	flex-shrink: 0;
	width: 64px;
	height: 64px;
	margin-right: 16px;
	border-radius: 12px;
	overflow: hidden;
}
.review_add__product .product__img img {
	width: 64px;
	height: 64px;
	object-fit: cover;
}
.review_add__product .product__name {
	font-size: 16px;
	font-weight: 500;
	display:flex;
	flex-wrap:wrap;
	margin: 0;
}
.review_add__product .product__name p{
	margin: 0;
}
.review_add__rating {
	display: flex;
	flex-direction: row;
	align-items: center;
	flex-wrap: wrap;
	column-gap: 16px;
	row-gap: 8px;
	margin: 0;
	flex-basis: 100%;
}
.review_add__star {
	position: relative;
	background: transparent;
	border: transparent;
	outline: none;
}
.review_add__star-icon {
	display: block;
	width: 40px;
	height: 40px;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url("images/star-wite.svg");
	transition: opacity 0.3s;
}
.review_add__star-icon--filled {
	position: absolute;
	top: 0;
	background-image: url("images/star-fill.svg");
	opacity: 0;
}
.review_add__stars {
	display: flex;
	flex-wrap: nowrap;
}
.review_add__footer {

}
.review_add__footer-checkbox {
	grid-area: checkbox;
	cursor: pointer;
}
.review_add__footer-checkbox input {
	margin-right: 8px;
}
.review_add__footer-agreement {
	grid-area: agreement;
	margin-top: 16px;
}
.review_add__footer-submit-wrapper {
	grid-area: submit;
	margin: 0 auto;
}
.review_add__footer-submit{
	width: -moz-available;          /* WebKit-based browsers will ignore this. */
	width: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
	width: fill-available;
}

.submit_row {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: center;
}
.submit_row input[type=checkbox] {
	margin-right: 8px;
}

.rating_description {
	position: relative;
}

.rating_description > span {
	display: none;
}

.rating_description {
	font-size: 16px;
	font-weight: 400;
}

.review_modal {
	position: fixed;
	z-index: 1100;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	padding: 64px 0;
	background: rgba(0, 0, 0, 0.2);
}
.review_modal.container{
	max-width:100%;
}

.review_modal.show .review_add__modal_content {
	animation: show-modal 0.3s;
}

.modal_result.show .modal-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	gap: 8px;
	animation: show-modal 0.3s;
	border:0;
}

@-webkit-keyframes show-modal {
	0% {
		-webkit-transform: scale(0.5) translateY(-75%);
		transform: scale(0.5) translateY(-75%);
	}
	100% {
		-webkit-transform: scale(1) translateY(-50%);
		transform: scale(1) translateY(-50%);
	}
}
@keyframes show-modal {
	0% {
		-webkit-transform: scale(0.5) translateY(-75%);
		transform: scale(0.5) translateY(-75%);
	}
	100% {
		-webkit-transform: scale(1) translateY(-50%);
		transform: scale(1) translateY(-50%);
	}
}
.policy_modal__content {
	margin-top: 24px;
	max-height: 70vh;
	overflow: auto;
}

.modal-content {
	padding: 24px;
	width: 60%;
	margin: 5% auto;
	background-color: var(--reviews--white) !important;
	border-radius: 32px !important;
}

@media (max-width: 460px) {
	.submit_row button {
		width: 100%;
		margin-top: 16px;
	}
}
.modal_result .modal-content {
	position: relative;
	max-width: 445px;
	margin: 0 auto;
	top: 50%;
	transform: translateY(-50%)
}

.modal_result .review_add__modal_header {
	justify-content: center;
}

.modal_result .modal_result__content {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	gap: 20px;
}

.modal_result .modal_result__content h5 {
	font-size: 24px;
	font-weight: bold;

}

.review_author-name {
	display: inline-block;
	padding-top: 4px;
}

.modal_result .btn-reviews{
	text-align: center;
	padding: 9.5px 0;
	border-radius: 32px;
	background: var(--reviews--white);
	border: 0;
	font-size: 18px;
	font-weight: 700;
}
@media (max-width: 1024px) and (max-width: 576px) {
	.review_add__footer-submit-wrapper {
		left: 16px;
		/*width: calc(100% - 32px) !important;*/
	}
}
@media (max-width: 1024px){
	.reviews .form-group-reviews.file{
		max-width: 100%;
	}
	.reviews .form-group-reviews.file .file-wrap{
		max-width: 100%;
	}
	.reviews.review_modal{
		padding: 0px !important;
		height: calc(100% - env(safe-area-inset-bottom));
	}
	.review_add__modal_content{
		width: 100% !important;
		max-width: 100% !important;
		height: 100% !important;
		/*margin-top: auto;*/
		border-radius: 0 0 0 0 !important;
	}
	.reviews .footer_modal{
		margin-top: auto;

	}
	.reviews.review_modal.container{
		width: 100vw;
	}
	.reviews.review_add__modal_content{
		padding-top: 48px;
	}
	.reviews button.dz-placeholder{
		display:block !important;
		height: 120px !important;
		width: 120px !important;
		border: 1px dashed gray !important;
	}
	.reviews .dropzone .dz-placeholder{
		height: 120px !important;
		width: 104px !important;
		border: 1px dashed gray !important;
		display: flex;
		justify-content: center;
		align-items: center;
		margin-top: 16px !important;
	}
	div.dz-placeholder{
		display:none !important;
	}
	.reviews .dropzone.dz-clickable{
		flex-direction: row;
		flex-wrap: wrap;
		align-content: start;
	}
	.reviews .dropzone.dz-clickable .dz-message{
		display:none !important;
	}

	.review_add__footer-submit{
		padding: 10px 32px;
		height: auto !important;
		width: -moz-available;
	}
	.reviews .btn-reviews--main{
		padding: 10px 32px;
	}
	.dropzone .dz-default.dz-message{
		display:none !important;
	}
}
@media (max-width: 768px) {
	.reviews .form-group-reviews.file .file-wrap{
		max-width: 100%;
	}
	.reviews.review_modal{
		padding:0px !important;
		height: calc(100% - 72px + env(safe-area-inset-bottom));
	}
	.review_add__modal_content{
		width: 100% !important;
		max-width: 100% !important;
	}
	.review_add__star-icon {
		/*width: 64px;*/
		/*height: 64px;*/
	}
	.rating_description span {
		font-size: 24px;
		font-weight: 500;
	}
	.review_add__modal_body .dropzone .dz-preview {
		width: 120px;
		margin-bottom:16px !important;
	}
	.review_add__modal_body .dropzone .dz-placeholder {
		width: 120px;
	}
	.dropzone .dz-preview .dz-image {
		width: 120px !important;
		height: 120px !important;
		border-radius: 24px !important;
	}
	.dropzone .dz-default.dz-message{
		display:none !important;
	}
	button.dz-placeholder{
		margin-top: 0 !important;
		display:block !important;
		height: 120px;
		width: 120px !important;
	}
	.dropzone .dz-preview{
		margin-top: 0 !important;
	}
}
@media (max-width: 576px) {
	.reviews .form-group-reviews.file .file-wrap{
		max-width: 100%;
	}
	.reviews.review_modal{
		padding: 0 !important;
		height: calc(100% - 72px + env(safe-area-inset-bottom));
	}
	.review_add__modal_content{
		width: 100%;
		/*border-radius: 24px 24px 0 0 !important;*/
	}
	.review_add__modal_content {
		padding: 24px;
	}
	.review_add__footer-submit {
		height: auto !important;
	}
	.review_add__footer-submit-wrapper {
		bottom: 108px;
	}
}
@media (max-width: 576px) {
	.reviews .form-group-reviews.file .file-wrap{
		max-width: 100%;
	}
	.reviews.review_modal .content__reviews__item__body--quote{
		right:0 !important;
	}

	.reviews.review_modal{
		height: calc(100% - 72px + env(safe-area-inset-bottom));
		padding: 0 !important;
	}
	.review_add__modal_body .dropzone .dz-preview {
		margin-top:16px !important;
		width: 108px;
	}
	.review_add__modal_body .dropzone .dz-placeholder {
		width: 108px;
	}
	.dropzone .dz-preview .dz-image {
		width: 108px !important;
		height: 120px !important;
	}
	.form-group-reviews.file{
		height: 256px !important;
		width: 1000px !important;
	}
	.product__name p {
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		/*width: 75%;*/
	}
	.product__name{
		max-width: 75%;
	}
}
#policy_modal .review_add__modal_header {
	padding: 0;
}
#policy_modal .modal-content {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	margin: 0 auto;
}
.fs-r-1{
	font-size:14px;
}
.fw-medium{
	font-weight: 500;
}
.input-text-reviews{
	outline: 4px solid transparent;
	border-radius:8px;
	border: 1px solid var(--reviews--gray-input);
	height: 52px;
	padding: 10px;
}
.reviews .input-text-reviews:hover{
	border-color: var(--primary, rgba(99, 83, 217, 1));
}

.reviews .input-text-reviews:focus-visible{
	border-color: var(--primary, rgba(132, 80, 219, 1));
	outline-color: var(--primary-light, var(--reviews--primery-100));
}
.reviews textarea.input-text-reviews{
	height: 150px;
	max-height: 200px;
	max-width: 100%;
	min-width: 100%;
}
.reviews .form-group-reviews{
	margin-bottom:16px;
	display: flex;
	flex-direction: column;
}
.modal_result .btn-lite-reviews {
	color: var(--reviews--active);
	background: var(--reviews--primery-100);
	font-weight:500;
	font-size:16px;
}
.modal_result .btn-lite-reviews:hover{
	color: var(--reviews--primery);
	background: var(--reviews--primery-200);
}

.modal_result .btn-lite-reviews:active{
	color: var(--reviews--hover);
	background: var(--reviews--primery-200);
}
.modal_result .btn-reviews--main:active:not(.btn-reviews--main--active){
	background: var(--reviews--hover)!important;
}

.modal_result .btn-reviews--main{
	padding: 15px 0 !important;
	height: auto !important;
	border:0;
	color: var(--reviews--white);
	background: var(--reviews--active);
	font-weight:500;
	font-size:16px;
	cursor: pointer;
}
.modal_result .btn-reviews--main:hover:not(.btn-reviews--main--active){
	background: var(--reviews--primery);
}
.modal_result .btn-reviews--main--active {
	background: var(--reviews--hover);
}
.dropzone .dz-preview .dz-error-message{
	top: 24%;
	width: auto;
	left: 0;
	position:absolute;
	opacity: 1;
}
.dz-error .dz-progress, .dz-error .dz-image img{
	display:none !important;
}
