.pagination-reviews {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pagination-reviews-wrapper a {
    color: var(--reviews--dark);
}

.reviews .more-reviews {
    display: flex;
    align-items: center;
    justify-content: center;
}

.reviews .btn-pagination {
    height: 44px;
    width: 32px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.reviews .active-pagination-item {
    width: 44px;
    background: var(--reviews--primery);
    color: var(--reviews--white);
}

.reviews .navigator-prev {
    display: flex;
    align-items: center;
    justify-content: center;
}

.reviews .navigator-prev:not(.navigator-disable) svg:hover path {
    fill: var(--reviews--dark);
}

.reviews .navigator-next:not(.navigator-disable) svg:hover path {
    fill: var(--reviews--dark);
}

.reviews .navigator-next {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 8px;
}

.reviews .pagination-info {
    font-size: 16px;
    font-weight: 400;
    color: var(--reviews--dark);
}

.reviews .navigation {
    gap: 8px;
    justify-content: start;
}

.reviews .pagination-info {
    text-align: end;
}
