<input type="checkbox" id="selectallevents"> Select all
<table class="table table-hover">
    <thead class="thead-default">
    <tr>
        <th></th>
        <th>Name</th>
        <th>Date</th>
    </tr>
    </thead>
    <tbody>
    {% for event in events %}
        <tr>
            <td><input type="checkbox" name="selected_events" value="{{event.pk}}"></td>
            <td> {{ event.name }} </td>
            <td> {{ event.date.strftime('%Y-%m-%d') }} </td>
        </tr>
    {% endfor %}
    </tbody>
</table>