<div class="card mx-auto" id="dinner-club-admin-card">

    <h4 class="card-header" id="dinner-title">
        Dinner club <span class="text-muted" id="dinner-schedule-extension">- planning</span>
    </h4>
    <div class="card-body">
        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#participants" role="tab" aria-controls="participants">Active preferences</a>
            </li>
            {% if request.user.is_admin %}
            <li class="nav-item">
                <a class="nav-link bg-warning" data-toggle="tab" href="#create" role="tab" aria-controls="create">
                  Create events
                  (<i class="fas fa-pastafarianism"></i>)
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link bg-warning" data-toggle="tab" href="#delete" role="tab" aria-controls="delete">
                  Delete events
                  (<i class="fas fa-pastafarianism"></i>)
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link bg-warning" data-toggle="tab" href="#reset" role="tab" aria-controls="delete">
                  Reset all preferences
                  (<i class="fas fa-pastafarianism"></i>)
                </a>
            </li>
            {% endif %}
        </ul>
        <div class="tab-content">
            <div class="tab-pane fade active in show" id="participants" role="tabpanel" aria-labelledby="participants">
                <p> You can set your own preferences on your profile.
                    Admins can further set others' that way as well. </p>
                {% include 'dinner-club/dinner-club-userlist.html' %}
            </div>
            <div class="tab-pane fade" id="create" role="tabpanel" aria-labelledby="create">
                <p>
                {% if not user.is_admin %} You cannot create events through this manner as you are not an admin.
                {% else %} You can use this form because you are an admin. Others can see but not use it.
                {% endif %}
                </p>
                <form action="{{ url("events:admin:create")}}" method="post">
                    {{ csrf_input }}
                    </br>
                    <h5 class=" card-subtitle ">
                        Period
                    </h5>
                    <div class="form-group row">
                        <div class="col-sm-3">
                            <div class="input-group date" id="from" data-target-input="nearest">
                                <input type="text" class="form-control datetimepicker-input"
                                       name="start" data-target="#from"
                                       placeholder="DD/MM/YYYY"/>
                                <div class="input-group-append" data-target="#from"
                                     data-toggle="datetimepicker">
                                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-1 text-center">
                            <span>to</span>
                        </div>
                        <div class="col-sm-3">
                            <div class="input-group date" id="to" data-target-input="nearest">
                                <input type="text" class="form-control datetimepicker-input"
                                       name="end" data-target="#to"
                                       placeholder="DD/MM/YYYY"/>
                                <div class="input-group-append" data-target="#to"
                                     data-toggle="datetimepicker">
                                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class=" form-group row">
                        <div class="col-sm-12">
                            <h5 class=" card-subtitle ">
                                Dinner clubs each week
                            </h5>
                        </div>
                        <div class="col-sm-3">
                            <select class="custom-select" name="number_each_week">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                            </select>
                        </div>
                    </div>
                    <div class=" form-group row">
                        <div class="col-sm-12">
                            <h5 class=" card-subtitle ">
                                Disable dates
                            </h5>
                            Be careful! The algorithm will try to balance an equal amount of dinner clubs for each week.
                            <div class="input-group date" id="unavailabledates" data-target-input="nearest">
                                <input type="text" class="form-control datetimepicker-input"
                                       name="unavailable_dates"/>
                                <div class="input-group-append">
                                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary " name="submit" type="submit">Create dinner clubs</button>
                    </div>
                </form>
            </div>
            <div class="tab-pane fade" id="delete" role="tabpanel" aria-labelledby="delete">
              <p>
              {% if not user.is_admin %} You cannot delete events through this manner as you are not an admin.
              {% else %} You can use this form because you are an admin. Others can see but not use it.
              {% endif %}
              </p>
                <form action="{{ url("events:admin:delete")}}" method="post">
                    {{ csrf_input }}

                    {% include 'dinner-club/dinner-club-eventlist.html' %}


                    <div class="form-group">
                        <button type="submit" name="action" class="btn btn-danger" value="delete_dinner_clubs">Delete
                            selected dinner clubs
                        </button>
                    </div>
                </form>
            </div>
            <div class="tab-pane fade" id="reset" role="tabpanel" aria-labelledby="reset">
              <h3> WARNING. The button below resets (deletes) everyone's preferences and it cannot be reverted. </h3>
              <p> There is no confirmation prompt. </p>
              <form action="{{ url("events:admin:reset")}}" method="post">
                  {{ csrf_input }}
                  <div class="form-group text-center">
                      <button class="btn btn-danger" name="submit" type="submit">
                        Reset all dinner club activity (<i class="fas fa-pastafarianism"></i>)
                      </button>
                  </div>
              </form>
            </div>
        </div>
    </div>
</div>
