<table class="table table-hover">
    <thead class="thead-default">
    <tr>
        <th>Nickname</th>
        <th>Name</th>
        <th>Activity</th>
    </tr>
    </thead>
    <tbody>
    {% set week = ["monday", "tuesday", "wednesday", "thursday", "friday", "saturday", "sunday"] %}
    {% for user in users %}
        <tr>
            <td> {{ user.nick }} </td>
            <td> {{ user.name }} </td>
            <td>
              <table><tbody>
                {% with checked_vals = [2], color="primary" %}
                    {% include 'dinner-club/weekday-subtable.html' %}
                {% endwith %}
                {% with checked_vals = [1, 2], color="success" %}
                    {% include 'dinner-club/weekday-subtable.html' %}
                {% endwith %}
              </tbody></table>
            </td>
        </tr>
    {% endfor %}
    {% for category in ["Cook", "Eat"] %}
    <tr>
      <td></td>
      <th>{{category}}</th>
      <td>
        <table><tbody>
          {% include 'dinner-club/weekday-subtable-sum.html' %}
        </tbody></table>
      </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
