<tr>
  {% for day in week %}
  {% if user.dinnerschedule and (user.dinnerschedule[day] in checked_vals) %}
    <td class="table-{{color}}">
  {% else %}
    <td class="table-danger">
  {% endif %}
</td>
  {%endfor%}
</tr>
