{% extends "base.html" %}
{% block title %}
<a class="btn btn-primary btn-lg" href="/events" role="button"
    data-toggle="tooltip" data-placement="bottom" title="Go to events">
    <i class="fa fa-arrow-left" aria-hidden="true"></i>
</a>
Events management {% endblock %}
{% block content %}

    <!-- <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#dinner-club"
               role="tab" aria-controls="dinner-club">Dinner club</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#beer-club"
               role="tab" aria-controls="beer-club">Beer club</a>
        </li>
    </ul> -->
    <div class="tab-content">
        <div class="tab-pane fade in show active" id="dinner-club" role="tabpanel" aria-labelledby="dinner-club">
            {% include 'dinner-club/dinner-club.html' %}
        </div>
        <!--
        <div class="tab-pane fade" id="beer-club" role="tabpanel" aria-labelledby="beer-club">
            TO DO! maybe?
        </div>
        -->
    </div>

    <script>
        {% include 'admin.js' %}
    </script>

{% endblock %}
