{% extends "base.html" %}
{% block title %}{% if action == 'edit' %}Modify event{% else %}Create event{% endif %}{% endblock %}
{% block content %}

<div class="container">
	{{ form.errors }}
	<form action="/events/{% if action == 'edit' %}{{ event.pk}}/edit/{% else %}create{% endif %}" method="post">
		{{ csrf_input }}
		<div class="form-group row">
			<label for="{{ form.name.id_for_label }}" class="col-sm-2 col-form-label">Title:</label>
			<div class="col-sm-10">
				{{ form.name }}
			</div>
		</div>
		<div class="form-group row">
			<label for="{{ form.date.id_for_label }}" class="col-sm-2 col-form-label">Date and time:</label>
			<div class="col-sm-10">
				<div class="form-row">
					<div class="col input-group date" id="datepicker" data-target-input="nearest">
						<input type="text" class="form-control datetimepicker-input" data-target="#datepicker" placeholder="dd/mm/yyyy"
						 name="date_0" {% if event %}value="{{ event.date.date().strftime("%d/%m/%Y") }}"{%endif%}
						id="id_date_0" required>
                        <div class="input-group-append" data-target="#datepicker" data-toggle="datetimepicker">
                            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                        </div>
					</div>
					<div class="col input-group date" id="timepicker" data-target-input="nearest">
						<input type="text" class="form-control datetimepicker-input" data-target="#timepicker" placeholder="hh:mm"
						 name="date_1" {% if event %}value="{{ event.date.time() }}"{%endif%}
						id="id_date_1" required>
                        <div class="input-group-append" data-target="#timepicker" data-toggle="datetimepicker">
                            <div class="input-group-text"><i class="fa fa-clock-o"></i></div>
                        </div>
					</div>
				</div>
			</div>
			<div>
				{{ form.date.errors }}
			</div>
		</div>
		<div class="form-group row">
			<label for="{{ form.organizers.id_for_label }}" class="col-sm-2 col-form-label">Organizers</label>
			<div class="col-sm-10">
				{{ form.organizers }}
			</div>
		</div>
		<div class="form-group row">
			<label for="{{ form.description.id_for_label }}" class="col-sm-2 col-form-label">Description</label>
			<div class="col-sm-10">
				{{ form.description }}
			</div>
		</div>
		<div class="form-group row">
			<div class="col-sm-10">
				<button type="submit" class="btn btn-primary">
					<i class="fa fa-plus"></i>
					{% if action == 'edit' %}Save changes{% else %}Create the event{% endif %}
				</button>
			</div>
		</div>
	</form>
</div>

<script>
{% include 'edit-event.js' %}
</script>

{% endblock %}
