{% extends "base.html" %}
{% block title %}{% endblock %}
{% block content %}
{# admin_enabled is whether function is enabled **due to** user being an admin, not for checking #}
{% set admin_enabled = (request.user.is_admin) and (not event.is_organizing(request.user)) %}

{% include 'event-details/guest-modal.html' %}
{% include 'event-details/expense-modal.html' %}

<div class="row">
	<div class="col-8">
		{% include 'event-details/description.html' %}
	</div>

	<div class="col-4">
		<div class="card">
			<h4 class="card-header justify-content-start">
				<div class="row">
          Participants
						({{ "%d"|format(event.total_shares|int)}})
          {% if (event.is_organizing(request.user) or request.user.is_staff) and not event.is_closed %}
              <span data-toggle="tooltip" data-placement="bottom"
                  title="Modify the list of participants">
                  <button class="btn btn-outline-primary btn-sm mx-2"
                  	data-toggle="collapse" data-target="#modify-participants">
                      <i class="fa fa-wrench"></i>
											Modify list
											{% if admin_enabled %}
											<span class="text-danger small" data-toggle="tooltip" title="This is enabled because you have admin rights">
												(<i class="fas fa-pastafarianism"></i>)
											</span>
											{% endif %}
                  </button>
              </span>
          {% endif %}
          </div>
					<div class="row">
						{% include 'event-details/signup-buttons.html' %}
					</div>
			</h4>
			<div class="card-body p-2 tab-content" id="participantContent">
				{% include 'event-details/participants-list.html' %}
			</div>
		</div>
	</div>
</div>

<script>
    {% include 'event-details/javascript.js' %}
</script>

{% endblock %}
