{% extends "base.html" %}
{% block title %}
    Events
    <a class="btn btn-primary btn-lg" href="/events/create" role="button"
        data-toggle="tooltip" data-placement="bottom" title="Create event">
        <i class="fa fa-plus" aria-hidden="true"></i>
    </a>
{% endblock %}
{% block content %}

<div class="row">
<div class="col col-3">
<a class="btn btn-success btn-sm" href="{{url("events:admin:index")}}" role="button"
    data-toggle="tooltip" data-placement="bottom"
    title="{% if request.user.is_admin %}Administer dinnerclub scheduling{% else %}View dinnerclub preferences{% endif %}">
    <i class="fas fa-utensils" aria-hidden="true"></i> Dinnerclub {% if request.user.is_admin %} admin {% else %} info {% endif %}
</a>
</div>
<div class="col col-6">
<h4 class="text-center">
	<a class="btn" href="{{ url("events:month", kwargs={"year": year, "month": month-1}) }}" role="button">
		<i class="fa fa-chevron-circle-left" aria-hidden="true"></i> Previous
	</a>
	{{ selected_date.strftime("%B %Y")}}
	<a class="btn" href="{{ url("events:month", kwargs={"year": year, "month": month+1}) }}" role="button">
		Next <i class="fa fa-chevron-circle-right" aria-hidden="true"></i>
	</a>
</h4>
</div>
<div class="col col-3"></div>
<div/>
<table class="table" style="table-layout: fixed;">
	<thead class="thead-default">
		<tr>
			{% for dayname in day_names %}
			<th class="px-2">{{ dayname }}</th>
			{% endfor %}
		</tr>
	</thead>
	<tbody>
		{% for week in weeks %}
		<tr>
			{% for day in week %}
			<td class="py-0 pt-1 px-2">
				<div class="d-flex flex-column justify-content-start" style="height:120px;">
					<div class="">
						<div class="d-flex align-items-start pb-1">
							{% if not day.this_month %}<span class="text-muted">
							{% else %}<span>{% endif %}
							{% if day.today %}<span class="badge badge-primary" style="font-size:100%;">{% endif %}
							{{ day.day }}</span>
						</div>
					</div>
					<div class="">
						<div class="d-flex flex-column w-100">
							{% for event in day.events %}
							{% include 'events/event-box.html' %}
							{% endfor %}
						</div>
					</div>
				</div>
			</td>
			{% endfor %}
		</tr>
		{% endfor %}
	</tbody>
</table>
{% endblock %}
