<!DOCTYPE html>
<html>
	<head>
		<title>{{ request.community_name }}</title>

		<link rel="stylesheet" href="/static/css/bootstrap.min.css">
		<link rel="stylesheet" href="/static/css/selectize.css">
		<link rel="stylesheet" href="/static/css/tempusdominus-bootstrap-4.min.css">
		<link rel="stylesheet" href="/static/css/styles.css">
		<script src="/static/js/jquery-3.2.1.min.js"></script>
        <!-- What is this below ?? -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
        <script src="/static/js/bootstrap.min.js"></script>
		<script src="/static/js/typeahead.bundle.min.js"></script>
		<script src="/static/js/selectize.min.js"></script>
		<script src="/static/js/moment-with-locales.min.js"></script>
		<script src="/static/js/tempusdominus-bootstrap-4.min.js"></script>
		<script defer src="/static/fontawesome/all.min.js"></script>
  	<script defer src="/static/fontawesome/v4-shims.min.js"></script>
	</head>

	<body>
		<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
			<a class="navbar-brand" href="#">{{ request.community_name }}</a>
			<div class="navbar-nav mr-auto">
				{% for item in request.navbar %}
				<a class="nav-item nav-link" href="{{ item.href }}"><i class="fa {{ item.icon }}"></i> {{ item.name }}</a>
				{% endfor %}
			</div>
			<span>
				{% if request.user.is_authenticated %}
				<div class="dropdown show">
					<a class="btn btn-dark dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						{{ request.user.name }}
					</a>
					<div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink"
						style="right: 0; left: auto;"> {# The manual styling is becuase dropdown-menu-right dont work #}
						<a class="dropdown-item" href="/users/{{request.user.pk}}"><i class="fa fa-user-circle" aria-hidden="true"></i> Your profile</a>
						<a class="dropdown-item" href="{{ url("users:logout") }}"><i class="fa fa-sign-out" aria-hidden="true"></i> Log out</a>
					</div>
				</div>
				{% else %}
				<a class="btn btn-dark" href="{{ url("users:login") }}">Log in</a>
				{% endif %}
			</span>
		</nav>

		<div class="container" style="padding-top: 25px;">
			<div class="page-header">
				<h1>{% block title %}Placeholder title{% endblock %}</h1>
			</div>

			{% block content %}
			{% endblock %}
		</div>
		<script>
$(function () {
	$('[data-toggle="tooltip"]').tooltip()
})
		</script>

	</body>
</html>
